@import 'quasar-variables'

.action-button
  color: white
  border-radius: 8px
  font-family: Lato, sans-serif
  font-weight: 400
  text-transform: none

  &:before
    box-shadow: none

  &--active
    background-color: $green-5

  &--primary
    background-color: $green-5

  &--secondary
    border: 1px solid $blue-grey-1
    color: $indigo-8

.rounded-button
  background-color: white
  border-radius: 24px
  font-family: Lato, sans-serif
  font-weight: 400
  padding: 10px 16px 10px 12px
  text-transform: none

  &:before
    box-shadow: none
